#nav-tabs-add {
	visibility: hidden;
}

.mainmenu {
	background-color: #606060;
	width: 100%;
	height: 100%;
}

.mainmenu-icon {
	top: 8%;
	left: 48%;
	position: absolute;
	height: 150px;
	width: 150px;
}

.mainmenu-title {
	top: 25%;
	position: absolute;
	left: 50%;
	font-size: 48px;
	color: white;
	text-align: center;
}

.mainmenu-button {
	position: absolute;
	background-color: transparent;
	border: none;
	left: 45%;
	color: white;
	font-size: 20px;
	text-align: center;
}

.mainmenu-button:focus {
	outline: 0;
}

.mainmenu-button:hover {
	color: orange;
}

#new-document-button {
	top: 50%
}

#load-document-button {
	top: 55%
}

.app {
	background-color: #F5F5F5;
}

.toolbar {
	border-bottom: thin solid;
	position: relative;
	top: 0;
	height: 8%;
	background-color: #C0C0C0;
	width: 100%;
}

.toolbar-button {
	position: relative;
	top: 10;
	height: 80%;
}

.toolbar-icon {
	vertical-align: middle;
	height: 80%;
}

.srd-diagram {
	height: 100%;
}

.note {
	position: relative;
	top: 300;
	left: 300;
	box-shadow: 10px 10px 5px gray;
	border-radius: 5px;
	background-color: #686868;
}

.note-title {
	text-align: center;
	font-family: Arial;
	background-color: #282828;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.edit-note-button {
	position: absolute;
	margin: 10px;
	right: 0px;
	bottom: 0px;
}

.toggle-note-display-button {
	position: absolute;
	margin: 10px;
	right: 40%;
	bottom: 0px;
}

.delete-note-button {
	position: absolute;
	top: 5;
	right: 5;
}

.attr-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	color: white;
}

.list-view-toolbar {
	border-bottom: thin solid;
	position: relative;
	top: 0;
	height: 8%;
	background-color: #C0C0C0;
	width: 100%;
}

.delete-sort-attr-button {
	position: absolute;
	right: 5;
}
