@import '../node_modules/antd/dist/antd.css';

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

#nav-tabs-add {
	visibility: hidden;
}

.mainmenu {
	background-color: #606060;
	width: 100%;
	height: 100%;
}

.mainmenu-icon {
	top: 8%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	height: 150px;
	width: 150px;
}

.mainmenu-title {
	top: 25%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 48px;
	color: white;
	text-align: center;
}

.mainmenu-button {
	position: absolute;
	background-color: transparent;
	border: none;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 20px;
	text-align: center;
}

.mainmenu-button:focus {
	outline: 0;
}

.mainmenu-button:hover {
	color: orange;
}

#new-document-button {
	top: 50%
}

#load-document-button {
	top: 55%
}

.app {
	background-color: #F5F5F5;
}

.toolbar {
	border-bottom: thin solid;
	position: relative;
	top: 0;
	height: 8%;
	background-color: #C0C0C0;
	width: 100%;
}

.toolbar-button {
	position: relative;
	top: 10;
	height: 80%;
}

.toolbar-icon {
	height: 80%;
}

.srd-diagram {
	height: 100%;
	position: relative;
}

.app-button {
	margin: 10;
}

.filter-list-el-close {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}

#archetype-button {
	position: absolute;
	bottom: 10;
	left: 50%;
	transform: translateX(-50%);
}

#archetype-name {
	position: relative;
	top: 20;
	text-align: center;
	text-decoration: underline;
}

#archetype-attrs {
	position: relative;
	top: 100;
	text-align: center;
}

.note {
	position: relative;
	border-radius: 5px;
}

.note-title {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.note-data-title {
	text-align: center;
	text-decoration: underline;
}

.color-selector-button {
	position: absolute;
	bottom: 10;
	left: 10;
}

.attr {
	display: grid;
	grid-template-columns: 90% 10%;
}

.attr-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	grid-column: 1;
}

.delete-attr-button {
	right: 10;
	grid-column: 2;
}

.attr-form {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
}

.attr-form h5 {
	text-align: center;
}

.attr-form-group {
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.attr-form-label {
	width: 20%;
}

.attr-form-text {
	width: 100%;
}

.edit-text-button {
	position: absolute;
	margin: 10px;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.edit-note-button {
	position: absolute;
	margin: 10px;
	right: 0px;
	bottom: 0px;
}

.ck-editor__editable {
	background: white;
	min-height: 80%;
	padding: 1cm 2cm 2cm;
}

.text-form-submit-button {
	margin: 10px;
}

.text-form-cancel-button {
	margin: 10px;
}

.delete-note-button {
	position: absolute;
	top: 5;
	right: 5;
}

.list-view-toolbar {
	border-bottom: thin solid;
	position: relative;
	top: 0;
	height: 8%;
	background-color: #C0C0C0;
	width: 100%;
}

.delete-sort-attr-button {
	position: absolute;
	right: 5;
}



.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
